{% extends 'home.html' %}
{% block body %}
    <div class="container my-4">
        <h2>About Page</h2>
        <p class="fw-bold">
            This webscrapper allow us :
            <ul>
                <li>Search items dynamically</li>
                <li>Compare with diffrent items</li>
                <li>Save these items as excel sheet</li>
            </ul>
        </p>
    </div>
    <div class="container my-10">
        <p class="fw">
            This project is created by Harsh grewal.
                
        </p>
    </div>
{% endblock body %}